 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HERO SECTION */
.hero{
    display:flex;
    min-height:100vh;
}

/* LEFT IMAGE */
.hero-left{
    width:50%;
}

.hero-left img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* RIGHT SIDE */
.hero-right{
    width:50%;
    padding:40px;
    display:flex;
    flex-direction:column;
}

/* TOP NAV */
.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.top > h3{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 153, 0);
    font-size: xx-large;
}

.top > h4{
    padding:8px 18px;
    border:2px solid #2b6cb0;
    background:none;
    border-radius:6px;
    cursor:pointer;
}

/* CONTENT */
.content{
    margin-top:60px;
}

.content h1{
    font-size:32px;
    margin-bottom:15px;
}

.content p{
    color:#666;
    line-height:1.6;
}

/* FEATURES */
.fit {
    display: flex;
    gap: 15px;
    
    
}
.features{
    margin:25px 0;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.feature{
    display:flex;
    align-items:center;
    gap:10px;
}

.feature img{
    width:24px;
}

/* BUTTONS */
.primary{
    width:100%;
    padding:14px;
    background:#f97316;
    color:white;
    border:none;
    border-radius:6px;
    margin-bottom:12px;
    cursor:pointer;
}
.signin{
    border: 2px solid #2b6cb0;
}
.secondary{
    width:100%;
    padding:14px;
    border:2px solid #2b6cb0;
    background:white;
    border-radius:6px;
    cursor:pointer;
}

/* FOOTER */
.footer{
    background:#6b3f2a;
    color:white;
    display:flex;
    justify-content:space-around;
    padding:40px;
    flex-wrap:wrap;
    /* justify-content: flex-start; */
}

.footer-box{
    max-width:300px;
}

.footer-box ul{
    list-style:none;
    margin-top:10px;
}

.footer-box li{
    margin-bottom:8px;
}
@media (max-width: 1024px) {
 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HERO SECTION */
.hero{
    display:block;
    min-height:100vh;
}

/* LEFT IMAGE */
.hero-left{
    width:100%;
}

.hero-left img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* RIGHT SIDE */
.hero-right{
    width:100%;
    padding:40px;
    display:flex;
    flex-direction:column;
}

/* TOP NAV */
.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.top > h3{
    font-family: 'dancing Script', cursive;
    color: #f97316;
}

.signin{
    padding:8px 18px;
    border:1px solid #2b6cb0;
    background:none;
    border-radius:6px;
    cursor:pointer;
}

/* CONTENT */
.content{
    margin-top:60px;
}

.content h1{
    font-size:32px;
    margin-bottom:15px;
}

.content p{
    color:#666;
    line-height:1.6;
}

/* FEATURES */
.fit {
    display: flex;
    gap: 15px;
    
    
}
.features{
    margin:25px 0;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.feature{
    display:flex;
    align-items:center;
    gap:10px;
}

.feature img{
    width:24px;
}

/* BUTTONS */
.primary{
    width:100%;
    padding:14px;
    background:#f97316;
    color:white;
    border:none;
    border-radius:6px;
    margin-bottom:12px;
    cursor:pointer;
}
.sign-in {
    border: 2px solid #2b6cb0;
    text-decoration: none;
    color: #2b6cb0;
}
.secondary{
    width:100%;
    padding:14px;
    border:2px solid #2b6cb0;
    background:white;
    border-radius:6px;
    cursor:pointer;
}

/* FOOTER */
.footer{
    background:#6b3f2a;
    color:white;
    display: block;
    line-height: 20px;
    /* justify-content:space-around; */
    padding:40px;
    /* flex-wrap:wrap; */
}

.footer-box{
    max-width:300px;
}

.footer-box ul{
    list-style:none;
    margin-top:10px;
}

.footer-box li{
    margin-bottom:8px;
}
    
}
